#container{margin-top: 20px;}
.header{margin-bottom: 50px;}
.header a{margin: 16px; font-size: 20px; color: #333;}
.user,
.user-child{
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    display: inline-block;
}